@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&family=Ubuntu:wght@300&display=swap');

html, body {
  height: 100%;
  width: 100%;
  font-family: 'Roboto', sans-serif;
  background-color: black; 
  margin: 0;
}

@media only screen and (max-width: 600px) {
  .calcy {
    width: 90%;
    height: auto;
    margin: 0 auto;
  }
}

@media only screen and (min-width: 601px) and (max-width: 1024px) {
  .calcy {
    width: 70%;
    height: auto;
    margin: 0 auto;
  }
}

@media only screen and (min-width: 1025px) {
  .calcy {
    width: 540px;
    height: 540px;
    margin-left: 470px;
  }
}


.button {
  width: 66px;
  background-color: #000;
  color: azure;
  padding: 20px;
  margin: 0 3px;
  border: 2px solid black;
  border-radius: 9px;
  cursor: pointer;
}


.row {
  margin: 8px 0;
}


.row input {
  background: white;
  width: 291px;
  height: 100px;
  font-size: 20px;
  margin: 0;
  padding: 10px 0px;
  border: 2px solid black;
  border-radius: 5px;
}

.text-center {
  text-align: center;
}

.bg-red {
  background: red;
}

.mx-auto {
  margin: auto;
}

.flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.items-center {
  align-items: center;
}

.calcy {
  background-color: rgb(37, 85, 136);
  height: 600px;
  border-radius: 15px;
}
.key{
  background-color: aqua;
  border-radius: 15px;
}
.with-border {
  background: black;
  width: fit-content;
  border: 2px solid #000;
  border-radius: 10px;
}

